/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* Colors:
+black - #000000
+black-link - #212121
+blue - #2196f3
+grey - #757575
+white - #ffffff
+white-back - #F5F5F5
+black-06 - rgba(255, 255, 255, 0.6)
+background-color - #2F303A
+button-active - #188CE8
+team-bg - #F5F4FA
+footer-bg - #2F303A
*/

:root {
  --text-color: #757575;
  --title-color: #000000;
  --btn-color: #2196f3;
  --link-op-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --white-back-color: #f5f5f5;
  --name-color: #212121;
  --back-color: #2f303a;
  --btn-active: #188ce8;
  --team-bg: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a:visited {
  text-decoration: none;
  decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/* General */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.emphasis a {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* Main page */

/* Header */

.site-nav {
  display: flex;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}

.logo-color {
  color: var(--btn-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--name-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav a:visited {
  text-decoration: none;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* .site-nav .item {
  display: inline-block;
} */

.site-nav:hover {
  cursor: pointer;
}

.current {
  color: var(--btn-color);
}

.header-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:hover,
.header-link:hover {
  color: var(--btn-color);
}

.header-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact .item + .item {
  margin-left: 50px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--btn-color);
}

.contact {
  display: flex;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-background {
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-color: var(--back-color);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  background: #2196f3;
  border-style: hidden;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--btn-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-active);
}

/* Features */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-wwd {
  padding-bottom: 94px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

.list-features {
  display: flex;
}
.list-features .item {
  flex-basis: calc((100% - 90px) / 4);
}

.list-features .item:not(:last-child) {
  margin-right: 30px;
}

.features-icon::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-size: 70px 70px;
  background-position: center;
  background-color: var(--team-bg);
  margin-bottom: 30px;
  background-image: url(../images/antena.svg);
  background-repeat: no-repeat;
}

/* What we do */

.wwd-flex {
  display: flex;
}

.wwd-flex .item:not(:last-child) {
  margin-right: 30px;
}

.list-flex .member:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

.team-pos {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-bg {
  padding-bottom: 94px;
  background-color: var(--team-bg);
}

.team-bg {
  background-color: var(--team-bg);
}

.employee-bg li {
  background-color: var(--white-color);
}

.list-flex {
  display: flex;
}

.list-flex .member {
  text-align: center;
}

.member {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member .team-name {
  margin-bottom: 9px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.soc-list-item {
  width: 44px;
  height: 44px;
}
.soc-list-link {
  display: block;
  width: 100%;
  height: 100%;
  background: tomato;
  border-radius: 50%;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-adress:hover,
.footer-adress:hover {
  color: var(--btn-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-op-color);
}

.footer-contact:hover,
.footer-contact:hover {
  color: var(--btn-color);
}

.logo-white {
  color: var(--white-color);
}

.footer-bg {
  background-color: var(--back-color);
}

.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.footer-item .item + .item {
  margin-top: 9px;
}

/* Portfolio page */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  max-width: 130px;
  border-style: hidden;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--name-color);
  cursor: pointer;
  background-color: var(--team-bg);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--btn-color);
}

.portfolio-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.filter-flex {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-flex .item + .item {
  margin-left: 8px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-outline {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
}

.team-card {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
